
# Copyright (c) 2018-2019, The Linux Foundation. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are
# met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above
#       copyright notice, this list of conditions and the following
#       disclaimer in the documentation and/or other materials provided
#       with the distribution.
#     * Neither the name of The Linux Foundation nor the names of its
#       contributors may be used to endorse or promote products derived
#       from this software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED "AS IS" AND ANY EXPRESS OR IMPLIED
# WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT
# ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS
# BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR
# BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE
# OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN
# IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#
# Create carrier folder for HiddenMenu
on post-fs
    mkdir /efs/carrier 0755 radio system
    chown radio system /efs/carrier
    chown radio system /efs/carrier/HiddenMenu

#mDNIe
	mkdir /efs/afc 0750 system system
	chmod 750 /efs/afc
	chown system system /dev/mafpc
	chmod 0660 /dev/mafpc
    exec - system system -- /system/bin/mafpc_write

# Fingerprint sensor
    chmod 0660 /dev/goodix_fp
    
    chown system system /dev/goodix_fp
    chown system radio /sys/class/fingerprint/fingerprint/type_check
    chown system radio /sys/class/fingerprint/fingerprint/name
    chown system radio /sys/class/fingerprint/fingerprint/vendor
    chown system radio /sys/class/fingerprint/fingerprint/adm
    chown system radio /sys/class/fingerprint/fingerprint/bfs_values
    chown system radio /sys/class/fingerprint/fingerprint/rb
    
    mkdir /efs/biometrics 0770 system system
    mkdir /efs/biometrics/meta 0770 system system

# Cirrus Amp Calibration
    chown system audio /sys/class/cirrus/cirrus_cal/status
    chown system audio /sys/class/cirrus/cirrus_cal/rdc
    chown system audio /sys/class/cirrus/cirrus_cal/rdc_r
    chown system audio /sys/class/cirrus/cirrus_cal/temp
    chown system audio /sys/class/cirrus/cirrus_cal/temp_r
    chown system audio /sys/class/cirrus/cirrus_cal/v_status
    chown system audio /sys/class/cirrus/cirrus_cal/v_validation
    chown system audio /sys/class/cirrus/cirrus_cal/v_validation_r
    chown system audio /sys/class/cirrus/cirrus_cal/vsc
    chown system audio /sys/class/cirrus/cirrus_cal/vsc_r
    chown system audio /sys/class/cirrus/cirrus_cal/isc
    chown system audio /sys/class/cirrus/cirrus_cal/isc_r
    mkdir /efs/cirrus 0770 audioserver audio
    chown audioserver audio /efs/cirrus/temp_cal
    chown audioserver audio /efs/cirrus/rdc_cal
    chown audioserver audio /efs/cirrus/rdc_cal_r
    chown audioserver audio /efs/cirrus/vsc_cal
    chown audioserver audio /efs/cirrus/vsc_cal_r
    chown audioserver audio /efs/cirrus/isc_cal
    chown audioserver audio /efs/cirrus/isc_cal_r
    chmod 0660 /efs/cirrus/temp_cal
    chmod 0660 /efs/cirrus/rdc_cal
    chmod 0660 /efs/cirrus/rdc_cal_r
    chmod 0660 /efs/cirrus/vsc_cal
    chmod 0660 /efs/cirrus/vsc_cal_r
    chmod 0660 /efs/cirrus/isc_cal
    chmod 0660 /efs/cirrus/isc_cal_r

# Cirrus Amp power
    chown system audio /sys/class/cirrus/cirrus_pwr/status
    chown system audio /sys/class/cirrus/cirrus_pwr/value
    chown system audio /sys/class/cirrus/cirrus_pwr/value_r
    chown system audio /sys/class/cirrus/cirrus_pwr/spk_t
    chown system audio /sys/class/cirrus/cirrus_pwr/spk_t_r
    chown system audio /sys/class/cirrus/cirrus_pwr/env_temp
    chown system audio /sys/class/cirrus/cirrus_pwr/env_temp_r

# Cirrus Amp Bigdata
    chown system audio /sys/class/audio/amp/temperature_max_0
    chown system audio /sys/class/audio/amp/temperature_keep_max_0
    chown system audio /sys/class/audio/amp/temperature_overcount_0
    chown system audio /sys/class/audio/amp/excursion_max_0
    chown system audio /sys/class/audio/amp/excursion_overcount_0
    chown system audio /sys/class/audio/amp/temperature_max_1
    chown system audio /sys/class/audio/amp/temperature_keep_max_1
    chown system audio /sys/class/audio/amp/temperature_overcount_1
    chown system audio /sys/class/audio/amp/excursion_max_1
    chown system audio /sys/class/audio/amp/excursion_overcount_1

# SSU (Samsung SIM Unlock)
on property:ro.boot.carrierid=TMB
    setprop ssu.support 1
on property:ro.boot.carrierid=TMK
    setprop ssu.support 1
on property:ro.boot.carrierid=VZW
    setprop ssu.support 1
on property:ro.boot.carrierid=AIO
    setprop ssu.support 1
on property:ro.boot.carrierid=USC
    setprop ssu.support 1
on property:ro.boot.carrierid=CCT
    setprop ssu.support 1

on boot

# Performance
    chmod 0664 /dev/cpuset/restricted/cpus
    write /dev/cpuset/restricted/cpus 0-7
    chmod 0664 /sys/class/devfreq/soc:qcom,cpu4-cpu-ddr-latfloor/min_freq
    chown root system /sys/class/devfreq/soc:qcom,cpu4-cpu-ddr-latfloor/min_freq

# some priv-apps of SPR bind mount to TMB priv-apps
on post-fs-data && property:ro.csc.sales_code=TMB
    umount /system/carrier
    mkdir /mnt/temp
    mount none /system/carrier/SPR /mnt/temp bind
    mount none /system/carrier/TMB /system/carrier bind
    mount none /mnt/temp/priv-app/MobileID /system/carrier/priv-app/MobileID bind
    mount none /mnt/temp/priv-app/CarrierDeviceManager /system/carrier/priv-app/CarrierDeviceManager bind
    mount none /mnt/temp/priv-app/MobileInstaller /system/carrier/priv-app/MobileInstaller bind
    mount none /mnt/temp/priv-app/SprintAndroidExtension2 /system/carrier/priv-app/SprintAndroidExtension2 bind
    mount none /mnt/temp/priv-app/SprintHub /system/carrier/priv-app/SprintHub bind
    umount /mnt/temp
    rmdir /mnt/temp

# some priv-apps of DSH bind mount to DSA priv-apps
on post-fs-data && property:ro.csc.sales_code=DSA
    umount /system/carrier
    mkdir /mnt/temp
    mount none /system/carrier/DSH /mnt/temp bind
    mount none /system/carrier/DSA /system/carrier bind
    mount none /mnt/temp/priv-app/VisualVoicemailDsh_Stub /system/carrier/priv-app/VisualVoicemailDsh_Stub bind
    umount /mnt/temp
    rmdir /mnt/temp
